<header class="header-fijo">
    <div class="contenedor-header">
        
        <div class="branding">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Escudo-UNAM-escalable.svg/1024px-Escudo-UNAM-escalable.svg.png" alt="UNAM" class="logo-img">
            
            <div class="separador"></div>
            
            <div class="texto-facultad">
                <span>Facultad de</span>
                <span>Estudios</span>
                <span>Superiores</span>
                <span class="txt-aragon">Aragón</span>
            </div>
        </div>

        <nav class="navegacion">
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="#">OFERTA ACADÉMICA</a></li>
                <li><a href="#">INVESTIGACIÓN</a></li>
                <li><a href="#">VIDA UNIVERSITARIA</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
    </div>
</header>